@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("assets/css/font-awesome-all.css");

.body { 
		background-color: #455166; 
      	font-family: 'Courier New';

}

.main {



}

#navbarmenu {
			border-radius: 8px;
			border-style: solid;
			border-width: 2px;
			border-color: white;
			background-color:grey;
			

}


#navbarheader {
			font-size: 20px;
			color: white;
			border-color:black;
			border-radius: 25px;
			border-style: solid;
			text-align: center;
			background-color: #929599;
}


.header {
		
		position: absolute;
		
}


.h2{
	font-size: 15px;
	color:white;
	text-decoration: underline;

}


/** Links **/
#linkslist {
			list-style-type: none;
			color:white;
		 	position: absolute;
		 	position: center;
		 	text-align: left;



}

a#linklist{color:white; text-decoration:none;}
a:hover#linklist{color:#d7e0f2;}


/* Footer*/
.footer{
		
		position: absolute;
		bottom: 0;
		left:0;
		right:0;
		text-align: center;
		padding: 5px 0px;
		
	   
}



