@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("assets/css/font-awesome-all.css");

.body { 
		background-color: #455166; 
      	font-family: 'Courier New';

}

/** Navbar **/

#navbarmenu {
			border-radius: 8px;
			border-style: solid;
			border-width: 2px;
			border-color: white;
			background-color:#575757;
			

}


#navbarheader {
			font-size: 20px;
			color: white;
			border-color:black;
			border-radius: 25px;
			border-style: solid;
			text-align: center;
			background-color: #929599;
}

div.social{margin:5% auto auto 5%;}

.header {
		
		position: absolute;
		
}


.h2{
	font-size: 15px;
	color:white;
	text-decoration: underline;

}


/** Links **/
.link {
			list-style-type: none;
			color:white;
		  	text-align: left;


}

a.link{color:white; text-decoration:none;}
a:hover#spotify{color:#1db954;}
a:hover#soundcloud{color:#ff3300;}
a:hover#twitter{color:#1da1f2;}
a:hover#facebook{color:#3b5998; background-color: white; padding:1px 2px;}
a:hover#instagram{color:#833ab4;}
a:hover#fliker{color:#ff0084;}
a:hover#paypal{color:#009cde;}

a#camera{color:white; text-decoration: none;}
a:hover#camera{color:#009cde;}

/* Footer*/
.footer{
		
		position: absolute;
		bottom: 0;
		left:0;
		right:0;
		text-align: center;
		padding: 5px 0px;
		
	   
}



